{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
    <div class="mb-4 shadow-sm card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4 border-bottom">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="mb-3 btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}