{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
  <div
    class="flex relative flex-col min-w-0 break-words rounded border-2 shadow-xl bg-slate-50 border-slate-300 text-slate-800">
    <div class="flex-auto p-6">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="mb-4 border-b">Log In</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="">
          <button
            class="p-2 text-base bg-white rounded border hover:text-white border-sky-700 text-sky-700 hover:bg-sky-700"
            type="submit">Login
          </button>
        </div>
      </form>
      <div class="py-3 border-t">
        <small class="text-muted">Need an account? <a href="{% url "register" %}" class="ms-2">Sign up now!</a></small>
      </div>
    </div>
  </div>
{% endblock content %}