{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
    <div class="mb-4 shadow-sm card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4 border-bottom">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="mb-3 btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="py-3 border-top">
                <small class="text-muted">Need an account? <a href="{% url "register" %}" class="ms-2">Sign up now!</a></small>
            </div>
        </div>
    </div>
{% endblock content %}