{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
  <div
    class="flex relative flex-col min-w-0 break-words rounded border-2 shadow-xl bg-slate-50 border-slate-300 text-slate-800">
    <div class="flex-auto p-6">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="mb-4 border-bottom">Reset Password</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="inline-block py-1 px-3 mb-4 font-normal leading-normal text-center no-underline align-middle bg-white rounded border shadow-sm select-none hover:text-white whitespace-no-wrap text-sky-700 border-sky-700 hover:bg-sky-700" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}