{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-4 shadow-sm">
        <div class="p-4">
            <div class="d-flex justify-content-center p-2">
                <img class="rounded-circle img-thumbnail img-fluid account-img" alt="Profile Picture"
                     src="{{ user.profile.image.url }}">
                <div class="user-info align-content-center">
                    <h2 class="">Welcome, {{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update your details...</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mb-3" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}