body {
    background: hsl(220.00 23.08% 94.90% / 1);
    color: hsl(233.79 16.02% 35.49% / 1);
}

.navbar {
    background: hsl(220.00 20.69% 88.63% / 1);
    color: hsl(233.79 16.02% 35.49% / 1);
}

.text-body {
    color: hsl(233.79 16.02% 35.49% / 1)
}

.card {
}

a {
    color: hsl(219.91 91.49% 53.92% / 1);
}

article {
    border-color: hsl(231.43 10.05% 59.02% / 1);
}