body {
    background: hsl(220.00 23.08% 94.90% / 1);
    color: hsl(233.79 16.02% 35.49% / 1);
}

.navbar {
    background: hsl(220.00 20.69% 88.63% / 1);
    color: hsl(233.79 16.02% 35.49% / 1);
}

.text-body {
    color: hsl(233.79 16.02% 35.49% / 1)
}

@media (prefers-color-scheme: dark) {
    body {
        background: hsl(230.53 18.81% 19.80% / 1);
        color: hsl(227.23 70.15% 86.86% / 1);
    }

    .navbar {
        background: hsl(230.00 15.58% 30.20% / 1);

    }

    .navbar-brand {
        color: hsl(227.23 70.15% 86.86% / 1);
    }

    .nav-link {
        color: hsl(227.23 70.15% 86.86% / 1);
    }

    .text-body {
        color: hsl(227.23 70.15% 86.86% / 1);
    }

    .text-body-secondary {
        color: hsl(226.67 43.69% 79.80% / 1)
    }

    .card {
        background: hsl(229.41 19.54% 17.06% / 1);
        color: hsl(227.23 70.15% 86.86% / 1);
    }
}

.card {
}

article {
    border-color: hsl(231.43 10.05% 59.02% / 1);
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    object-fit: cover;
}

.article-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.user-info {
    margin-top: 10px;
    text-align: center;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
