{% extends "blog/base.html" %}
{% block content %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <article>
                <h2>{{ post.title }}</h2>
                <p class="text-body-secondary border-bottom pb-2">
                    <img src="{{ object.author.profile.image.url }}"
                         alt="Profile image"
                         class="rounded-circle article-img me-2">
                    By <a href="{% url "user-posts" object.author.username %}" class="link-info">{{ object.author }}</a>
                    on {{ object.date_posted|date:"F d, Y" }}
                    {% if object.author == user %}
                        <div class="">
                    	<a class="btn btn-secondary btn-sm my-1" href="{% url "post-update" object.id %}">Update</a>
                    	<a class="btn btn-danger btn-sm my-1" href="{% url "post-delete" object.id %}">Delete</a>
                        </div>
                    {% endif %} </p>
                <p class="text-body">{{ object.content }}</p>
            </article>
        </div>
    </div>
{% endblock content %}